@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');

/* ⬇ class for test purpose ⬇ */

.testShadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


/* ⬇ code useful only for this pen ⬇ */

body {
  margin: 0;
  font-family: Georgia, serif;
}

hr {
  width: 70%;
}

button {
  display: block;
  margin: auto;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  color: #444;
  font-size: 21px;
  cursor: pointer;
}

.wrapper {
  filter: brightness(10%);
  width: 100%;
  margin: 0;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "main sidebar"
    "article-container sidebar";
  background-color: #fff;
  color: #444;
}

.box {
  color: #444;
  padding: 20px;
}

.header {
  grid-area: header;
  text-align: center;
}

.header h1 {
  font-family: 'UnifrakturCook', cursive;
  font-size: 48px;
  margin: 0;
}

#main-article {
  grid-area: main;
  border-right: 1px solid #999;
}

#main-article .content {
  padding: 0 20px;
  -webkit-columns: 150px 3;
  -moz-columns: 150px 3;
  columns: 150px 3;
}

aside .content {
  padding: 0 20px;
  -webkit-columns: 150px 2;
  -moz-columns: 150px 2;
  columns: 150px 2;
}


.sidebar {
  grid-area: sidebar;
}

.article-container {
  grid-area: article-container;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.content {
  margin: 40px 0 40px 0;
  font-family: Georgia, serif;
  font-weight: 400;
}

.main-article-image, .The-luckiest-man, .Demostenes, #Chief-Joseph, #jfk, #Alexander {
  border-radius: 3px;
  display: block;
  margin: auto;
}

.git {
  margin: 20px;
}

.explain {
  opacity: 0.9;
  background: #444;
  color: #fff;
  position: fixed;
  max-width: 500px;
  max-height: 500px;
  padding: 30px;
  z-index: 999;
  border-radius: 3px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  top: 50%;
  left: 50%;
  transition: transform 1s;
  transform: translate(-50%, -50%);
}

.explain h1, .explain strong {
  color: palegoldenrod;
}

@media screen and (max-width: 960px) {
  .article-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "main"
      "sidebar"
      "article-container";
  }
}