@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700');

/* ⬇ class for test purpose ⬇ */

.testShadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


/* ⬇ code useful only for this pen ⬇ */

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "main sidebar"
    "article-container sidebar";
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.header {
  grid-area: header;
  text-align: center;
}

.header h1 {
  font-family: 'UnifrakturCook', cursive;
  font-size: 48px;
}

.main-article {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.article-container {
  grid-area: article-container;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-areas: 
      "header"
      "main"
      "sidebar"
      "article-container";
  }
}
